<%= content_for :page_header do %>
    <h1 style="color:white">Welcome, <%= current_user.name %></h1>
<% end %>

<script type="text/javascript">
    $(function () {
        $('.project').popover({
            placement:'left',
            html:true
        });
    })
</script>

<div class="hero-unit hero_panel" style="width:400px;float:right;padding-bottom: 30px;margin-top: -20px;border: 4px solid black; ">
  <h1>Live Projects </h1>

  <p>The current projects you are participating in</p>

  <hr>
    <% @projects.each do |project| %>
        <div class="index_block"><a href="<%= launch_page_path(project) %>" class="project" title="<%= raw(project.name) %>" data-content="<table><tr><td><img src='/assets/icons/interaction.png' style='width:128px;vertical-align:middle;'/></td><td><%= raw project.summary %></td></tr></table>"><h2><%= image_tag project.avatar.url(:thumbnail), :style => "vertical-align:middle;margin:10px;border:2px solid black;border-radius:5px;" %><%= project.name %></h2></a></div>
    <% end %>
</div>